/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap");

/* shared styles */
* {
  font-family: "Inconsolata", monospace;
  font-family: "Space Mono", monospace;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles */
header p {
  color: #333;
  font-family: Inconsolata;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1.92px;
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
}

/* main styles */
main {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

main figure {
  width: 490px;
  height: 490px;
  border-radius: 8px;
  background: #fff;
}

figure img {
  width: 100%;
}

main div:nth-child(2) {
  width: 586px;
}

main h1 {
  color: #333;
  font-family: Space Mono;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2.24px;
}

main p {
  color: #4f4f4f;
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.84px;
  margin-top: 2rem;
}

main button {
  color: #fff;
  font-family: Space Mono;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: -0.49px;
  text-transform: uppercase;
  background-color: #333;
  padding: 1.25rem 2.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

/* footer styles */
footer {
  color: #bdbdbd;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  bottom: 0;
}

footer span {
  font-weight: 700;
  text-decoration-line: underline;
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
  main {
    flex-direction: column;
    margin: 3rem 1.5rem;
  }

  main figure {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  figure img {
  }

  main div:nth-child(2) {
    margin: 0 auto;
    width: 100%;
  }

  main h1 {
    font-size: 3rem;
    letter-spacing: -1.68px;
  }

  main p {
    font-size: 1.1rem;
    letter-spacing: -0.63px;
  }
}
